<footer class="footer">
  <small>
    <strong>Web deployed by</strong>
    by <em><a href="https://www.facebook.com/adrian.seguragavilan">Adrian Segura Gavilan</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>